<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курсы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>
<br>
<a href="/readers">Ко всем читателям</a>
<br>
<a href="/books">Ко всем книгам</a>
<br>
<a href="/logout">Выход</a>
<br>
<br>
<h2>Отделы</h2>
<br>
<table>
    <tr>
        <th>Название отдела</th>
        <th>Содержание отдела</th>
        <th>Перейти</th>
        <th>Удалить</th>
    </tr>
    <#list departments as department>
        <tr>
            <td>${department.title}</td>
            <td>${department.description}</td>
            <td><a href="/departments/${department.id}">Перейти</a></td>
            <td><a href="/departments/${department.id}/delete">Удалить</a></td>
        </tr>
    </#list>
</table>

<form action="/departments" method="post">
    <label>
        Название отдела
        <input type="text" name="title" placeholder="Введите название">
    </label>
    <br>
    <label>
        Содержание отдела
        <input type="text" name="description" placeholder="Введите содержание">
    </label>
    <br>
    <br>
    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>