<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Курс</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<body>

<a href="/readers"> Ко всем читателям</a>
<br>
<a href="/books">Ко всем книгам</a>
<br>
<a href="/departments">Ко всем Отделам</a>
<br>
<a href="/logout">Выход</a>
<br>
<br>
<h3>Отдел</h3>
<br>
<form action="/departments/${department.id}/update" method="post">
    <label>
        Название отдела
        <textarea name="title">${department.title}</textarea>
    </label>
    <br>
    <label>
        Содержание
        <textarea name="description">${department.description}</textarea>
    </label>
    <br>
    <label>
        Начало работы
        <input type="date" name="start" value=${department.start}>
    </label>
    <br>
    <label>
        Окончание работы
        <input type="date" name="finish" value=${department.finish}>
    </label>
    <br>
    <input type="submit" value="Сохранить">
</form>
<h4>Книги в отделе</h4>
<br>
<table>
    <tr>
        <th>Название книги</th>
        <th>Описание книги</th>
        <th>Убрать книгу из отдела</th>
        <th>Перейти</th>
    </tr>
    <#list inDepartmentBooks as book>
        <tr>
            <td>${book.name}</td>
            <td>${book.summary}</td>

                <td><a href="/departments/${department.id}/remove?book-id=${book.id}">Убрать</a></td>
                <td><a href="/book/${book.id}">Перейти</a></td>

        </tr>
    </#list>
</table>
<form action="/departments/${department.id}/books" method="post">
    <label>Книги
        <select name="book-id">
            <#list notInDepartmentBooks as book>
                <option value="${book.id}">${book.name} ${book.summary}</option>
            </#list>
        </select>
    </label>
    <input type="submit" value="Добавить">
</form>
<h2>Читатели в отделе</h2>
<br>
<table>
    <tr>
        <th>Email</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Перейти</th>
    </tr>
    <#list inDepartmentReaders as reader>
        <tr>
            <td>${reader.email}</td>
            <td>${reader.firstName}</td>
            <td>${reader.lastName}</td>
            <td><a href="/readers/${reader.id}">Перейти</a></td>
        </tr>
    </#list>
</table>
<form action="/departments/${department.id}/readers" method="post">
    <br>
    <label>Читатели
        <select name="reader-id">
            <#list notInDepartmentReaders as reader>
                <option value="${reader.id}">${reader.firstName} ${reader.lastName}</option>
            </#list>
        </select>
    </label>
    <br>
    <input type="submit" value="Добавить">
</form>
</body>
</html>